body {
  font-family: Arial, Verdana, sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 20px 20px 0 20px;
}

h1 {
  font-size: 42px;
  text-align: center;
  padding: 15px;
}

h2 {
  font-size: 30px;
  color: #0d0d0d;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #ffffff dashed 10px;
}

div {
    min-height: 125px;
    padding: 20px;
    border: #ffffff solid 3px;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    border: none;
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
}

.blue {
    border: none;
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
}

.blue h2,
.blue p {
    color: #C4C4C4;
}

.yellow {
    border: none;
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
}

.yellow p {
    color: #707070;
}

.green {
    border: none;
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
}

footer{
    background: linear-gradient(to right, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: #ffffff solid 5px;
}

footer p {
  font-size: 20px;
  text-align: right;
  padding: 15px 15px 15px 0;
}


